<!DOCTYPE html>
<html>
<head>
	<title> Contact </title>
	<p class="loginpage"><strong> Login</strong> </p>
	<link href="main.css" rel="stylesheet" style="text/css" />
</head>

	<body>
		<div class="header">
			<img src="greenwichLogo.jpg" alt="Greenwich Logo">
			<h1> Contact</h1>
		<nav>
			<ul class="Navigation"><h4>
				<li><a href="Index.html"> Home</a></li>
				<li><a href="Join Us.html"> Join Us  </a></li>
				<li><a href="Discounts.html"> Discounts</a></li>
				<li><a href="Companies.html"> Companies</a></li>
				<li><a href="Settings.html"> Settings</a></li>
			</ul></h4>

		</nav>

	

	</body>






</html>