<!DOCTYPE html>
<html>
	<head>
		<title> Sports </title>
		<p class="loginpage"><strong> Login</strong> </p>
		<link href="main.css" rel="stylesheet" style="text/css" />
	</head>

	<body>
		<div class="header">
			<img src="GreenLogo.png" alt="Company Logo">
			<h1> Login</h1>
            </div>
		<nav>
			<ul class="Navigation"><h4>
				<li><a href="Index.html"> Home</a></li>
				<li><a href="Join Us.html"> Join Us  </a></li>
				<li><a href="Discounts.html"> Discounts</a></li>
				<li><a href="Companies.html"> Companies</a></li>
				<li><a href="Settings.html"> Settings</a></li>

			</ul></h4>
		</nav>
        <img class="LoginPic" src="London6.jpg" >
        <form action="/Home.html">
  First name:<br>
  <input type="text" name="Username" value="">
  <br>
  Last name:<br>
  <input type="text" name="Password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
        
	</body>






</html>